**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	width: 100%;
	min-height: 100vh;
	background-color: black;
	overflow: hidden;
}

span{
	color: yellow;
}

header{

	display: flex;
	color: white;
	
	justify-content: space-between;
	padding: 15px 20px;
	animation: header 2s ease-in-out;
}
@keyframes header {
        0%{
        	transform: translateY(-100%);
        }
}

nav li{
	display: inline-block;
	margin: 10px 20px;
	font-weight: 600px;
	cursor: pointer;
}

.main{
	width: 100%;
	display: flex;
}

.content{
	width:50%;
	margin-top: 8%;
	margin-left: 5%;
	color: white;
	animation: content 2s ease-in-out;
}




@keyframes content{
	0%{
		opacity: 0;
		transform: translateX(-50%);
	}
}

.content h1{
	
	font-family: sans-serif;
	margin-bottom: 10px;
	font-size: 100px;
	
}

.content h3{
	font-size:25px;
	margin-bottom: 8px;
	font-family: verdana;

}

.content p{
	font-size:20px;
	margin-bottom: 5%;
	font-family: verdana;

}

button{
	padding:15px 30px;
	background: transparent;
	color: white;
	border-radius: 10px;
	font-size: 17px;
	border:1px solid grey;
	cursor: pointer;
	margin-bottom:30px;


}
button:hover{
	background-color: rgb(200,10,5);
}
li:hover{
	text-decoration: underline;
}

.image-car{
	width: 50%;
	margin-top: 8%;
	z-index: -1;

	
}
img{
	width:40rem;
	animation: car 5s ease-in-out;
}

@keyframes car{
	0%{
		transform: translateX(100%);
	}100%{
		transform: translateX(-220%);
	}
}

@media screen and (max-width:1200px){
	.content{
		width: 100%;
		text-align: center;

		}


	.image-car{
		position: absolute;
		width: 100%;
		bottom: -10%;
		display: flex;
	justify-content: center;

	}
	img{
		width: 20rem;
	}
}


@media screen and (max-width:576px){
	.content{
		width: 100%;
		text-align: center;

		}

.content h1,h3,p{
	margin-bottom: 5%;
}

	.image-car{
		position: absolute;
		width: 100%;
		bottom: -10%;
		display: flex;
	justify-content: center;

	}
	img{
		width: 20rem;
	}
}